<div class="ose chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item._id}}">
    <div class="ose chat-block">
        <div class="flexrow chat-header">
            <div class="chat-title">
                <h2>Spell Catastrophe Incurred!</h2>
            </div>
            <div class="chat-img" style="background-image:url('systems/ose/assets/splash2.png')"></div>
        </div>

        <div class="card-content"> 
            {{{data.reason}}}
        </div><div class="card-content">
            {{{data.description}}}
        </div>
    </div>

</div>